# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, consumed by `go tool cover -func=count.out`
*.out

# Dependency directories (only if you used `go mod vendor`)
vendor/

# IDE folders
.idea/
.vscode/
